{% block header -%}
![Logo](https://raw.githubusercontent.com/duvholt/bifrost/master/doc/logo-title-640x160.png)
{% endblock -%}

{% block body %}{% endblock -%}
{% block footer %}{% endblock -%}

{% block donations -%}
# Now on Ko-fi! Donations welcome :-)

Developing software for the hue ecosystem is a fun, but pretty expensive hobby.

If you would like to toss a few dollaridoos in the hat, I've set up a Ko-fi accont:

[![Link to Ko-Fi donation page](https://raw.githubusercontent.com/chrivers/bifrost-hassio/refs/heads/master/kofi.png)](https://ko-fi.com/L4L819GOTY)

All donations will go towards new equipment for testing and development.
{% endblock -%}
{% block questions %}
# Questions?

Questions, feedback, comments? Join us on discord

[![Join Valhalla on Discord](https://discordapp.com/api/guilds/1276604041727578144/widget.png?style=banner2)](https://discord.gg/YvBKjHBJpA)
{% endblock -%}
{% macro make_changelog(limit=None) %}
{% if limit -%}
# Changelog ({{limit}} most recent changes)

{{ changes(limit) }}

## Full changelog

For the full changelog, please click on the "Changelog" link in the upper left corner.
{%- else %}
# Full changelog

{{ changes() }}
{% endif %}
{% endmacro -%}
