{% extends "base.jinja" %}

{% block header -%}
# Changelog

This is the DEVELOPMENT TEST VERSION (not the stable release version).

The development version contains new, experimental and/or incomplete features.

It is intended for advanced users, who want all the features, even if they are
not quite done yet.

The dev version is based on the latest stable version, and includes whatever is
in development at the time.
{% endblock %}

{% block body %}
# Changes

{{ changes() }}
{% endblock %}

{% block footer %}
## Stable version:

Please see the
[CHANGELOG.md](https://github.com/duvholt/bifrost-hassio/blob/master/bifrost/CHANGELOG.md)
for the stable version, which has an extensive list of changes from the previous
version.
{% endblock %}

{% block donations %}
{% endblock %}
