{% from "base.jinja" import make_changelog with context -%}
{% extends "readme-base.jinja" %}

{% block intro %}
# Bifrost Bridge [DEV VERSION]

Bifrost enables you to emulate a Philips Hue Bridge to control lights, groups
and scenes from [Zigbee2Mqtt](https://www.zigbee2mqtt.io/).

This is the DEVELOPMENT TESTING VERSION.

Please see the regular installation instructions here:

https://github.com/duvholt/bifrost-hassio/tree/master/bifrost
{% endblock %}

{% block changelog %}
{% if has_changes -%}
{{ make_changelog() }}
{% else %}
# Changelog

This version of bifrost-dev is identical to the master branch.

When an updated version is released, the changes will be listed here.
{% endif %}
{% endblock -%}
